@mixin debug($color){
  border:3px dotted $color !important;
}

html,body{
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;

//   @include background-image(linear-gradient(left top, white, #dddddd)); }

}

.fixed{
  height:56px;
}
.view-enter, .view-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:relative;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}
nav {
  &.top-bar{
    
    .right{
      @media screen and (min-width: $topbar-breakpoint){
        width:50%;
        margin-left:emCalc(72px);
      }
      form{
       
      }
    }
    .has-form{
      width:100%;
      margin-left:-2px;
      padding:emCalc(3px);
      @media screen and (min-width: $topbar-breakpoint){
//         @include debug(Lime);
        padding:emCalc(0px);
      }
    }
    .row{
      @extend .button-group;
      @extend .round;
      padding-left:1em;
      padding-right:1em;
    }
    .name {
      background: url('../images/bwLogo.png') no-repeat scroll 3px 3px;
      width: 51px;
      height: 59px;/* set to $topbar-height to avoid black bar under .small  top bar*/
    }
    .smallButton{
      @include grid-column(2);
       padding-left:0em;
       padding-right:0em;      
       @media screen and (min-width: $topbar-breakpoint){
          @include grid-column(1);             
           padding-left:0em;
           padding-right:0em;
       }
         z-index:0;
    }
    .smallInput{
      input{
               border-top:1px solid $primary-color;
               border-bottom:1px solid $primary-color;
        @media screen and (min-width: $topbar-breakpoint){
        
        }
      }
      @include grid-column(8);
       padding-left:0em;
       padding-right:0em;

      @media screen and (min-width: $topbar-breakpoint){
         @include grid-column(10);             
         padding-left:0em;
         padding-right:0em;
      }
         z-index:1;
    }
    a.button,#camera{
       text-indent:-3000px!important;
       background: url('../images/maginfi3WhiteOptim.png') no-repeat scroll center center;
       width: 48px;
       display:block;
       vertical-align:middle!important;
       height: 48px;
       font-size:$h4-font-size;
       margin-left:-2px;
       @media screen and (min-width: $topbar-breakpoint){
         margin-top:-5px;
         padding-left:35px;
         padding-right:35px;
       }
    }
    #camera{ 
       float:right;
       background: url('../images/camera_icon_1.png') no-repeat scroll center center;
    }
    form input{
       height: 48px;
      @media screen and (min-width: $topbar-breakpoint){
           margin-top:-5px;
       }
    }
  }  
}
#wrapper{
  padding-top:55px;
}
#instructionsModal{
  &.reveal-modal, &.reveal-modal h4,&.reveal-modal p.lead{
    color:#fff;
  }
  ol{
    padding-left: 1.8em;
  }
}

#selectedCharity{
  
  
}
#charities{
  #charities, li{
    display:block;
  }
  #charityCards{
    @include block-grid(1, 10px, true);
    li{
      display:block;
      &.front, &.back{
          height:275px;
          min-width:emCalc(150px);
      }
    }
    @media screen and (min-width: emCalc(321px)){
         @include block-grid(2, 10px, true);
         &.front, &.back{
           height:300px;
          }
      } 
    @media screen and (min-width: emCalc(501px)){
         @include block-grid(3, 10px, true);
         &.front, &.back{
           height:300px;
          }
      }    
    @media screen and (min-width: $small-screen){
         @include block-grid(4, 10px, true);
         &.front, &.back{
           height:300px;
          }
      }    
    @media screen and (min-width: $topbar-breakpoint){
         @include block-grid(5, 10px, true);
         &.front, &.back{
           height:315px;
          }
      }    
    @media screen and (min-width: $medium-screen){
         @include block-grid(5, 10px, true);
         &.front, &.back{
           height:315px;
          }
      }    
  }
  .pricing-table{

    @include rotateY(90deg);
    .donateMoreInfo{
//       background-color:$price-title-bg;
        border-bottom-left-radius:$global-radius !important;
        border-bottom-right-radius:$global-radius !important;
        padding-top:12px;
        width:100%!important;
        
      .button-group{
        display:block;
        width:emCalc(150px);
        margin:0px auto;
      }
      position:absolute;
      bottom:0px;
      z-index:top;
    }
   .description{
     background-color:rgba($panel-bg,.8);
      border-bottom-right-radius:$global-radius !important;
      border-bottom-left-radius:$global-radius !important;
      font-size:90%;
      height:254px;
      overflow-y:auto;
      overflow-x:hidden;
   }
   .title{
     border-top-left-radius:$global-radius !important;
     border-top-right-radius:$global-radius !important;
      img{
        width:100px;
      }  
     
    }
    
  }
  .flip-container{
    display: block;
    @include transform-style(preserve-3d);
	  @include perspective(500);
     @include transition-duration( 1s);
  	height: 300px;
    &.flip{
      position:relative;
    }
    .front, .back{
       display: block;
      position:absolute;
      top:0;
      left:0;
    	height: 300px;
      @media (min-width: 768px) {
       
      }
      width:100%;
    }
    .stripe{
        display:block;
        position: absolute;
        height:100%;
        width:28px;
        top: 0px;
        right: 15px;
        z-index: 1;
        background-color:rgba(#000, .3)!important;
      }
    .front{
          z-index:100;
      cursor:pointer;
      z-index:2;
      .charityLogo{
        z-index: 11;
        position:absolute;
        top:0px;
        left:0px;
        height:100%;
        width:100%;

        }

    }
    .back{
    }
    li,ul{
      display:block;
    }
    &.flip .flipper {
      z-index:1000000;

  	  @include perspective(750px);
      @include transform-origin( right, center );
      @include transform(rotateY(-180deg) translateX(100%));

    }
  }
  .front{
    &.flipped{
      transform: rotateY(180deg);
        @include translateZ(0);
      }
  }
  .flipper {
    @include transform-style(preserve-3d);
    @include transition-duration(.75s);
  	position: relative;
      z-index:1000000;

  }
  .front {
    z-index: 2;
  }
  .back {
    @include rotateY(180deg);
    @include backface-visibility(hidden);

   }
  .front, .back {
    @include backface-visibility(hidden);
    position: absolute;
    top: 0;
    left: 0;
    @include translateZ(180deg );
  }
}

