@mixin debug($color){
  border:3px dotted $color !important;
}
.ventraPage{
  background-color:#fff;
  height:100%;

  .reveal-modal{
    *{
      border-color:#000;
      background-color: #6f6f6f;
    }
    background-color: #6f6f6f;
    padding-top:emCalc(40px);
    border-color:#000;
    @include box-shadow();
    padding:14px;

      .title{
    background-color: #6f6f6f;
      }
      .description{
           background-color: #6f6f6f;
      }

    }
    .close-reveal-modal{
          background-color: transparent;
    }
  
}
.page{
  background-color: #ffd776; // Old browsers
  @include filter-gradient(#ffd776, #ffc023, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center 90%, ellipse cover, #f1e767 0%,#feb645 100%));
  height:100%;
}
html,body{
  background-color: #ffd776; // Old browsers
  @include filter-gradient(#ffd776, #ffc023, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center 90%, ellipse cover, #f1e767 0%,#feb645 100%));
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;

//   @include background-image(linear-gradient(left top, white, #dddddd)); }

}
 

hr{
      background:url(../images/hr.png) repeat-x top center;
      height:4px;
      border: 0;
      @media screen and (min-width: '400px') {
        max-width:300px;
        @include debug(DarkViolet);

      }
      @media screen and (min-width: $small-screen) {
        max-width:375px;
@include debug(MediumSeaGreen);

      }
      @media screen and (min-width: $medium-screen) {
        max-width:400px;
      }
      @media screen and (min-width: $large-screen) {
        max-width:560px;
      }
      
      margin:12px  auto;
}
.lotteryHeader{

  font-size:100%;
    font-family:'Raleway',"Helvetica Neue",arial, sans-serif;
    text-transform:uppercase;
  sup{
    font-size:70%;
    text-decoration:underline;
  }

}
.ventra{
  ul{
    list-style:none;
  }
  &.contain-to-grid{
    background-color:#004080;
    
  }
  .top-bar{
    background-color:#004080;
    border-bottom-color:#000;
    .title-area{
      padding-top: 3px;
    }
    .name{
      background:none;
      width:10em;
      margin:-10px auto 10px; 
      font-size:$h2-font-size;
      h2{
        font-size:1em;
        font-weight:0;
        color:#fff
      }
    }
    
  }
  
  .ctaRow{
    .cta .button{
      background-color:DarkSlateGray;
      border-color:#004080;
    }
  }
  @media screen and (min-width: $small-screen) {
    .panel{
      height:5em;
      margin-bottom:20px;
    }
  }
}

.center{
  margin:0 auto; 
}

.fixed{
  height:56px;
}

.ucase{
  text-transform: uppercase;
}
.center{
  text-align:center;
  margin:0 auto;
}
.view-leave{
  -webkit-transition:all cubic-bezier(0.0,0.0,.25, 0.940) 1s;
  -moz-transition:all cubic-bezier( 0.0, 0.0, 0.250, 0.940) 1s;
  -o-transition:all cubic-bezier( 0.0, 0.0, 0.250, 0.940) 1s;
  transition:all cubic-bezier( 0.0, 0.0, 0.250, 0.940) 1s;
}
.view-enter {
  -webkit-transition:all cubic-bezier(0.250, 0.960,1,1) 1s;
  -moz-transition:all cubic-bezier(0.250, 0.960,1,1) 1s;
  -o-transition:all cubic-bezier(0.250, 0.960,1,1) 1s;
  transition:all cubic-bezier(0.250, 0.960,1,1) 1s;
}


.view-enter {
  opacity:0;
  top:0px;
//   width:100%;

  position:relative;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  top:-150%;
//   width:100%;
   height:0%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:0px;
  opacity:0;

}
nav {
  &.top-bar{
    background:#FAB815;
    .right{
      @media screen and (min-width: $topbar-breakpoint){
        width:50%;
        margin-left:emCalc(72px);
      }
      form{
       
      }
    }
    .has-form{
      width:100%;
      margin-left:-2px;
      padding:emCalc(3px);
      @media screen and (min-width: $topbar-breakpoint){
        padding:emCalc(0px);
      }
    }
    .row{
      @extend .button-group;
      @extend .round;
      padding-left:1em;
      padding-right:1em;
    }
    .name {
      background: url('../images/logo2x.png') no-repeat scroll top center;
      height:62px;
    }
    .smallButton{

       padding-left:0em;
       padding-right:0em;      
       @media screen and (min-width: $topbar-breakpoint){
          @include grid-column(1);             
           padding-left:0em;
           padding-right:0em;
       }
         z-index:0;
    }
    .smallInput{
      input{
               border-top:1px solid $primary-color;
               border-bottom:1px solid $primary-color;
        @media screen and (min-width: $topbar-breakpoint){
        
        }
      }
      @include grid-column(8);
       padding-left:0em;
       padding-right:0em;

      @media screen and (min-width: $topbar-breakpoint){
         @include grid-column(10);             
         padding-left:0em;
         padding-right:0em;
      }
         z-index:1;
    }
    a.button,#camera{
       text-indent:-3000px!important;
       background: url('../images/maginfi3WhiteOptim.png') no-repeat scroll center center;
       width: 48px;
       display:block;
       vertical-align:middle!important;
       height: 48px;
       font-size:$h4-font-size;
       margin-left:-2px;
       @media screen and (min-width: $topbar-breakpoint){
         margin-top:-5px;
         padding-left:35px;
         padding-right:35px;
       }
    }
    #camera{ 
       float:right;
       background: url('../images/camera_icon_1.png') no-repeat scroll center center;
    }
    form input{
       height: 48px;
      @media screen and (min-width: $topbar-breakpoint){
           margin-top:-5px;
       }
    }
  }  
}
.center{
  margin:0 auto;
}
#login{
  text-align:center;
  .logoWrapper{
    max-width:680px;
  }
  label{
    color:#fff;
    text-align:right;
    font-size:110%;
  }                  
  h1{                
    color:#fff;

  }
  input{
    width:50%;
    float:left;
  }
  ul{
    list-style:none;
  }
  footer{

    color:#cfcfcf;
  }
}

.loginWelcome{
  background-color:$body-bg;
  p{
    padding-top:.2em;
    padding-bottom:.2em;
  }
}
#wrapper{

  margin-top: -25px;
  padding-top:5px;
  
}
.reveal-modal-bg{
  cursor:pointer;  
}
.welcomeWrapper{
  width:100%;
  height:100%;
  overflow:hidden;

  .welcomeContent{
    margin: 100px auto;
    text-align:center;
  }
  ul{
    list-style:none;
  }
}
footer{
   text-align: center;
}
#introduction{
  cursor:pointer;
  text-align: center;
  *{
    color:#fff;

  }
  ul{
    list-style:none;
    margin:1em auto;
  }
  .footer{
    color:#7F7F7F;
    padding-top:1em;
  }
  img, .close-reveal-modal{
    padding-TOP:0;
  }
  h1{
    padding-top:.3em;
    font-weight: 0;
    font-size:350%;
  }
}
.reveal-modal{
   position: fixed; 
   
}
.statsRow
{

  img{
    margin: 0 auto;
  }
  
  h6,h5,h4,h3,h2,h1{
  font-family:'Raleway',sans-serif!important;
    text-align:center;
    margin:0 auto;
    width:100%;
    line-height:1.2em;
  }

  .countdown{

    p{

    }
    .center{
      margin:0 auto;      
    }
    canvas{
      margin:0 auto;
    }
  }
}
.ucase{
  font-family:$body-font-family;
}

.reveal-modal{
  background-color: #ffd776; // Old browsers
  @include filter-gradient(#ffd776, #ffc023, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center 90%, ellipse cover, #f1e767 0%,#feb645 100%));
  padding-top:emCalc(40px);
  border-color:#F6B432;
  padding:0;
.selectedCharity{
  margin-left:0;
  margin-right:0;
  padding:1.125em;
  height:100%;
  width:100%;
  background-color: #ffd776; // Old browsers
  @include filter-gradient(#ffd776, #ffc023, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center 90%, ellipse cover, rgba(#f1e767,.5) 0%, rgba(#feb645,.5) 100%));

    .title{
      background:transparent;
    }
    .description{
      background:transparent;
    }

  }
  .close-reveal-modal{
    
  }
  opacity:.4;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  background-size : 90%!important;

}
#selectedCharity{
  .inline-list{
   @include debug(LightSalmon);
 
  }
  .logoWrapper{
   @include debug(SlateBlue);
   img{
     @include debug(Teal);
     min-width:200px;
     margin:0 auto;
   }
  }
}
#charities{
  #charities, li{
    display:block;
    margin:0 auto;
  }
  #charityCards{
    a.button{

      @media screen and (max-width:  $small-screen){
        padding:23px 0;
      }
    }
    .moreInfo{
      @media screen and (min-width:  $small-screen){
        @extend .right;
        float:right;
      }    
      padding:7px 15px;
    }
    ul{
      padding:0;
      margin:0;
    }
    .panel{
      padding:.4em;
      display:block;
      margin-bottom:1em;
      height:100%;
      min-width:emCalc(150px);
      margin-left:0px;
      margin-right:0px;
    }
    .charityLogo{
      .name{
        
          margin-bottom:.2em;
        
        letter-spacing:2px;
        color:#fff;
        font-family:'Raleway',"Helvetica Neue", Helvetica, sans-serif;
        font-weight:lighter;
//         letter-spacing:1.9;
      }
      
      display:block;
      width:100%;
      height:100%;
      background-repeat: no-repeat!important;
      background-position: center center!important;
      background-size : 90%!important;
      z-index: 11;
      }

    ////*[@id="charityCards"]/li[3]/div
    @include block-grid(1, 10px, true);
    
    @media screen and (min-width: emCalc(501px)){
       @include block-grid(1, 10px, true);

    }    
    @media screen and (min-width: $small-screen){
       @include block-grid(2, 20px, true);

    }    
    @media screen and (min-width: $topbar-breakpoint){
       @include block-grid(3, 30px, true);

    }    
    @media screen and (min-width: $medium-screen){
       @include block-grid(3, 30px, true);

    }    
  }
}

