@import "compass/css3/transform";
@import "compass/css3";
 $small-screen: emCalc(768px);

@mixin debug($color){
  border:3px dotted $color !important;
}
@mixin debugBackground($color){
  background: $color !important;
}


html,body{
  overflow-x:hidden;
}
.footer{
  color:Khaki;

  position: fixed;
  bottom: 10%;
  left: 0;
  width: 100%;
  z-index: 10000;
  
}
.container{
  overflow-x:hidden;
  overflow-y:auto;
  
  height:100%;
  width:80%;
  margin:0 auto 5%;
  background-color:#FAAD39;
  .card{
    background-color:#B6B6B6;
    -webkit-animation-name: insertCard;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: forwards;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-out;
    z-index:100;
    border-radius:20px;
    padding:15px;
    top:-1000%;
    position:relative;
    width:200px;
    height:300px;
    margin:5% auto;
    

  }
  .slotContainer{

    width:100%;
    height:5%;
    bottom:400px;
    left:0px;
      @include debug(DarkSeaGreen);
    @media screen and (max-width:  $small-screen){

      bottom:40%;
    }

  }

  .slot{
    position:relative;
    top:0;
    width:250px;
    height:50px;
    margin:-10px auto 0 auto;
    background-color:#999;
    z-index:10;
    @media screen and (max-width:  $small-screen){
      width:50%;
      height:5%;

    }
  }
  .slotMask{
    border-top:3px solid #400;
    z-index:1000;
    position:relative;
    top:-25px;
    width:230px;
    height:20px;
    margin:0 auto -25px auto;
    background-color:#999;
    
    @media screen and (max-width:  $small-screen){
      width:45%;
      height:2%;
      top:-1%;
    }
  }
  .mask{
    width:100%;
    height:100%;
    position:relative;
    bottom:0px;
    left:0px;
    z-index:1000;
    background-color:#FAAD39;
    .coins{
      @include perspective(500);
      overflow:hidden;
      position: relative;
      top: 0;
      left: 0;
      height: 60%;
      width: 300px;
      margin:-25px auto;
      @media screen and (max-width:  $small-screen){
        width:30%;
      }
      .coin{
        @include transform-style( preserve-3d);
        z-index:10;
        position:relative;
        display:inline-block;
        height:30px;
        width:30px;
        bottom:-20%;
        opacity:0;
        margin:-25px auto;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-direction: forwards;
        -webkit-animation-play-state: running;
        -webkit-animation-fill-mode: none;
        -webkit-animation-timing-function: linear;
        -webkit-animation-duration: 2.5s;
        
        &:nth-of-type(1n+0){
              left: 5%;
              -webkit-animation-name: flipCoin1;
              -webkit-animation-delay: 3s;

        };
        &:nth-of-type(1n+1){
              left: 7%;
              -webkit-animation-name: flipCoin2;
              -webkit-animation-delay: 2.8s;

        };
        &:nth-of-type(1n+2){
              left: 12%;
              -webkit-animation-name: flipCoin3;
              -webkit-animation-delay: 4.2s;
        };
        &:nth-of-type(1n+3){
            left: 0%;
            -webkit-animation-name: flipCoin4;
            -webkit-animation-delay: 5s;
        };
        &:nth-of-type(1n+4){
            left: 12%;
            -webkit-animation-name: flipCoin5;
            -webkit-animation-delay: 4s;
            
        };  
        &:nth-of-type(1n+5){
            left: 13%;
            -webkit-animation-name: flipCoin6;
            -webkit-animation-delay: 3.8s;
            
            };                
        &:nth-of-type(1n+6){
            left: 14%;
            -webkit-animation-name: flipCoin7;
            -webkit-animation-delay: 4.8s;

        };
        &:nth-of-type(1n+7){
              left: 5%;
              -webkit-animation-name: flipCoin15;
              -webkit-animation-delay: 3.3s;

        };
        &:nth-of-type(1n+8){
              left: 7%;
              -webkit-animation-name: flipCoin8;
              -webkit-animation-delay: 3.6s;

        };
        &:nth-of-type(1n+9){
              left: 12%;
              -webkit-animation-name: flipCoin9;
              -webkit-animation-delay: 5.2s;
        };
        &:nth-of-type(1n+10){
            left: 0%;
            -webkit-animation-name: flipCoin10;
            -webkit-animation-delay: 3.4s;
        };
        &:nth-of-type(1n+11){
            left: 12%;
            -webkit-animation-name: flipCoin11;
            -webkit-animation-delay: 3.7s;
            
        };  
        &:nth-of-type(1n+12){
            left: 13%;
            -webkit-animation-name: flipCoin12;
            -webkit-animation-delay: 3.4s;
            
            };                
        &:nth-of-type(1n+13){
            left: 14%;
            -webkit-animation-name: flipCoin13;
            -webkit-animation-delay: 3.8s;
        };
        &:nth-of-type(1n+14){
            left: 14%;
            -webkit-animation-name: flipCoin14;
            -webkit-animation-delay: 3.8s;
        };
        .front{
          font-size:28px;
          color:#FF8000;
          text-align:center;
          @include backface-visibility(hidden);
          @include transition-duration( 1s);
          display: block;
          position:absolute;
          top:0;
          left:0;
          height:30px;
          width:30px;
          background-color:#FC6;
          border-radius:30px;
         
          border:3px dotted PapayaWhip;
          @include transform(translateZ(-5px));
        }

         .back{
           @include backface-visibility(hidden);
           @include transform(rotateY(-180deg) );
           @include transition-duration( 1s);
           display: block;
           position:absolute;
           top:0;
           left:0;
           height:30px;
           width:30px;      
           background-color:#FC6;
           border-radius:30px;
          border:3px dotted PapayaWhip;
         }
               
      }
    }
  }  
}

@-webkit-keyframes insertCard {

    0% {  
      top: -100%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }

    100%{
        top: 100%;
      @include transform(rotateY(0deg) rotateX(0deg));

    }

}

@-webkit-keyframes flipCoin1 {
    0% {
      opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(180deg) rotateX(180deg) );
    }
}
@-webkit-keyframes flipCoin2 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));}
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(360deg) rotateX(-180deg) );
    }
}
@-webkit-keyframes flipCoin3 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));}
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(-180deg) rotateX(180deg) );
    }
}
@-webkit-keyframes flipCoin4 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(180deg) rotateX(180deg) );
    }
}
@-webkit-keyframes flipCoin5 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(-360deg) rotateX(360deg) );
    }
}
@-webkit-keyframes flipCoin6 {
    0% {
        opacity:0;
      bottom: 15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(180deg) rotateX(-180deg) );
    }
}
@-webkit-keyframes flipCoin7 {
    0% {
      opacity:0;
      bottom: 0px;
      @include transform(rotateY(0deg) rotateX(0deg));}
    15%{
      opacity:1;
      }
    100% 
    {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(180deg) rotateX(180deg) );
    }
}


@-webkit-keyframes flipCoin8 {
    0% {
      opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(540deg) rotateX(-540deg) );
    }
}
@-webkit-keyframes flipCoin9 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));}
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(-270deg) rotateX(-270deg) );
    }
}
@-webkit-keyframes flipCoin10 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));}
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(-180deg) rotateX(180deg) );
    }
}
@-webkit-keyframes flipCoin11 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(280deg) rotateX(-180deg) );
    }
}
@-webkit-keyframes flipCoin12 {
    0% {
        opacity:0;
      bottom:15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(-75deg) rotateX(-100deg) );
    }
}
@-webkit-keyframes flipCoin13 {
    0% {
        opacity:0;
      bottom: 15%;
      @include transform(rotateY(0deg) rotateX(0deg));
    }
    15%{
      opacity:1;
    }
    100% {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(380deg) rotateX(-180deg) );
    }
}
@-webkit-keyframes flipCoin14 {
    0% {
      opacity:0;
      bottom: 0px;
      @include transform(rotateY(0deg) rotateX(0deg));}
    15%{
      opacity:1;
      }
    100% 
    {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(90deg) rotateX(-180deg) );
    }
}
@-webkit-keyframes flipCoin15 {
    0% {
      opacity:0;
      bottom: 0px;
      @include transform(rotateY(0deg) rotateX(0deg));}
    15%{
      opacity:1;
      }
    100% 
    {
      left:10%;
      opacity:1;
      bottom:-100%;
      @include transform(rotateY(0deg) rotateX(480deg) );
    }
}
