<div class="page">
  <link rel="stylesheet" href="stylesheets/coinAnim.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <a href="/receipt" ng-click="continue()">
  <div class="container">
    <div class="card"> &nbsp;
    </div>
      <div class="slot">&nbsp;</div>
      <div class="slotMask">&nbsp;</div>
      <div class="mask">
        <div class="coins">
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div>
          <!-- <div class="coin">
            <div class="front">$</div>
            <div class="back">&nbsp;</div>
          </div> -->
        </div>
      </div>
    </div>
  <footer class="footer">(Click anywhere to continue)</footer></a>
  </div>
  </div>