<div class="page"><div class="sticky contain-to-grid" >
      <nav class="top-bar" data-options="is_hover:false">
        <ul class="title-area">
            <li class="name" ><h1><a href="/app" ng-bind="strings.title"></a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right" ng-cloak ng-show="false">
            <li class="loginWelcome">
              <span class="userInfo"  ng-show="user.showInfo">
                <p class="username" ng-bind="'Welcome: '+user.username"></p>
              </span>
              <span ng-show="user.showLogin" >
                <a ng-click="revealLogin()" class="small secondary button">login</a>
              </span>
            </li>
          </ul>
        </section>
      </nav>
  </div>
  <div id="wrapper">
    <div id="content">
      <div class="row">
        <div class="small-11 small-centered columns">
          <div class="row">
            <div class="small-12 columns">
              
              <h3 class="subheader center">Confirmation</h3>
              <h5 class="subheader center">You have selected to donate {{(selectedCharity.amount|currency) ||('.5'|currency)}} for</h5>
              <h4 class="subheader center">{{(selectedCharity.name) ||'Grapefruit Freedom Fighters'}}</h4>
              <div class="panel round radius" ng-bind-html-unsafe="confirmationLegalise||'By clicking the submit button you are confirming that the CTA is authorized to transfer the amount above from your account.<br/>This will enter you in a lottery for a chance to win a CTA pass valued at $100 (USD)'"></div>
              <button ng-click="donate()" class="button radius expand success ucase">Submit</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>