<div class="page"><div class="sticky contain-to-grid" >
    <nav class="top-bar" data-options="is_hover:false">
      <ul class="title-area">
        <li class="name" ><h1><a href="/app"></a></h1>
        </li>
  
  
      </ul>
    </nav>
  </div>
  
      <div class="row">
        <div class="statsRow small-12 small-centered columns large-6 large-centered">
          <div class="row">
            <div class="small-4  columns charityDonations" ng-model="stats">
              <center>
                <img src="../images/donations.png" width="61" height="53" alt="Donations"/>
              </center>
              <h3 class="subheader">${{stats.charityDonations | number:0}}</h3>
              <h3 class="subheader">Donations</h3>
            </div>
            <div class="countdown small-4 columns">
              <div ng-controller="CountDownController" ng-cloak>
                <center><canvas id='clock' width="100" height="100"></canvas></center>
                <h3 class="subheader" ng-bind="timeScale + ' left'"></h3>
              </div>
            </div>
          <div class="small-4 columns charityDonations" ng-model="stats">
            <center>
              <img src="../images/rides.png" width="43" height="64" alt="Rides"/>
            </center>
            <h3 class="subheader" ng-bind="stats.totalPasses | number:0"></h3>
            <h3 class="subheader">Passes</h3>
          </div>
            </div>
        </div>
      </div>
      <hr/>
      <div id="charities" ng-controller="CharitiesController" class="row" ng-show="showCharities" ng-cloak>
        <div class="columns small-12 small-centered large-centered">
          <center>
            <h3>Choose A Charity</h3>
          </center>
          <ul id="charityCards">
            <li class="charity" ng-animate="{enter: 'view-enter', leave: 'view-leave'}" ng-cloak ng-repeat="charity in charities">
              <div class="button panel secondary row radius" ng-click="charityMoreInfo(charity)">
                <ul class="charityLogo" >
                  <!-- ng-style="{'background':'url(/images/charityLogo/'+charity.logo+')'}" -->

                    <h2 class="name ucase">{{charity.name}}
                        <!-- <a class="moreInfo secondary right" ng-click="charityMoreInfo(charity)">{{strings.moreInfo}}</a> -->
                        </h2>
                    <!-- <p>{{charity.shortDescription}}</p>    -->

                  <!-- <li class="action small-4 large-11 large-centered columns">

                          <a class="round expand right " ng-click="confirmDonate(charity)">
                            {{strings.cta}} {{strings.ctaValue|currency}}
                          </a>


                  </li> -->
                </ul>
              </div>
            </li>
          </ul>
          <div id="selectedCharity" class="reveal-modal" ng-init="selectedCharityInit()" >
            <div class="row selectedCharity">
              <div class="small-3 large-3 columns small-centered">
                <img src="/images/charityLogo/{{selectedCharity.logo||'../placeholder.gif'}}" class="ucase">
              </div>
              <div class="small-12 small-centered">
                <h2 class="ucase center">
                  {{selectedCharity.name}}
                  
                </h2>
                <p class="subheader center">$225 Total Donated </p>
              </div>
              <div class="small-12 small-centered">
            
                  <h3>Mission:</h3>
                  <p class="subheader" ng-bind="selectedCharity.shortDescription"></p>
                  <hr/>
                  <h3>Vision:</h3>
                  <p class="subheader" ng-bind="selectedCharity.vision"></p>
                  <br/>
              </div>
              <div class="small-12 small-centered">                
                <a class=" expand round button secondary" href="" ng-click="confirmDonate(charity)">
                  {{strings.cta}}
                  {{strings.ctaValue|currency}}
                </a>
              </div>
              <div class="small-12 small-centered">                
                <a class="small right round button " href="" ng-click="closeModal()">Nah</a>
              </div>
              <div class="small-4 small-centered columns charityDonations" ng-model="stats">
              </div>
            <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
      </div>
  </div>