<div class="sticky contain-to-grid" >
    <nav class="top-bar" data-options="is_hover:false">
      <ul class="title-area">
          <li class="name" ><h1><a href="/app" ng-bind="strings.title"></a></h1>
          </li>
        <li class="toggle-topbar menu-icon"><a ng-click="menuClick()" ><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right" ng-cloak ng-show="false">
          <li class="loginWelcome">
            <span class="userInfo"  ng-show="user.showInfo">
              <p class="username" ng-bind="'Welcome: '+user.username"></p>
            </span>
            <span ng-show="user.showLogin" >
              <a ng-click="revealLogin()" class="small secondary button">login</a>
            </span>
          </li>
        </ul>
      </section>
    </nav>
</div>
<div id="wrapper">
  <div id="content">
<div class="row">
  <div class="statsRow small-12 small-centered columns large-6 large-centered">
    <div class="row">
      <div class="small-4  columns charityDonations" ng-model="stats">
        <p>${{stats.charityDonations | number:0}}</p>
        <p>Total Donations</p>
      </div>
      <div class="countdown small-4 columns">
        <div ng-controller="CountDownController" ng-cloak>
          <center><canvas id='clock' width="100" height="100"></canvas></center>
          <!-- <p ng-bind="timeScale + ' left'"></p> -->
        </div>
      </div>
    <div class="small-4 columns charityDonations" ng-model="stats">
      <p ng-bind="stats.totalPasses | number:0"></p>
      <p>Total Passes</p>
    </div>
      </div>
  </div>
</div>
    <div id="charities" ng-controller="CharitiesController" class="row" ng-show="showCharities" ng-cloak>
      <div class="columns small-12 small-centered large-centered">
        <h3>Our Charities</h3>
        <ul id="charityCards">
          <li class="charity" ng-animate="{enter: 'view-enter', leave: 'view-leave'}" ng-cloak ng-repeat="charity in charities">
            <div class="panel row radius">
              
              <ul class="charityLogo" ng-style="{'background':'url(/images/charityLogo/'+charity.logo+')'}" >
                <li class="action small-8 large-11 columns ">
                  <h6>{{charity.name}}</h6>
                  <h6 class="subheader">{{charity.shortDescription}}</h6>
                </li>
                <li class="action small-4 large-12 columns">
                  <button class="small expand button center" ng-click="donate(charity)">{{strings.cta}}<br/>{{strings.ctaValue|currency}}</button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div id="selectedCharity" class="reveal-modal" ng-init="selectedCharityInit()" ng-style="{'background':'url(/images/charityLogo/'+selectedCharity.logo+')'}" >
          <ul class="pricing-table">
            <li class="subheader title"><h5 class="subheader">{{selectedCharity.charitySelected}}: {{selectedCharity.name}}</h5></li>
            <li class="description">
              <h5 class="subheader" ng-bind="selectedCharity.shortDescription"></h5>
            </li>
            <li class="action">
                  <a class="small expand button success" href="" ng-click="confirmDonate(charity)">{{strings.cta}}<br/>{{strings.ctaValue|currency}}</a>
                  <a class="small right button alert" href="" ng-click="closeModal()">Nah</a>
            </li>

          <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
    </div>
  </div>
</div>
