<div class="ventraPage">
  <div class="sticky contain-to-grid ventra" >
  <nav class="top-bar" data-options="is_hover:false">
    <ul class="title-area">
      <li class="name center">
        <a href="http://www.transitchicago.com/ventra/">
          <h2 class="ucase">Ventra</h2>
        </a>
      </li>
      <li class="toggle-topbar"><a ng-click="revealLogin()" >Login<span></span></a></li>
    </ul>
  </nav>
  </div>
  <div class=" row ventra" ng-model="ventra">
  <div class="small-11 small-centered large-11 large-centered columns">
    <ul>
        <li  class="row fields" ng-model="ventra.fields">
          <a>
            <div style="background-color:#E6E6E6" class="small-12 large-8 large-centered columns panel radius">
              <a style="color:#343">
                <div class="small-3 large-3 columns key" >Name</div>
                <div class="small-7 large-4 columns value" ng-bind="ventra.fields.name">
                </div>
                <div class="small-1 large-2 columns cta secondary  small round">»</div>
              </a>
            </div>
          </a>
      </li>
      
        <li class="row fields" ng-model="ventra.fields">
          <a>
            <div style="background-color:#E6E6E6" class="small-12 large-8 large-centered columns panel radius">
              <a style="color:#343">
                <div class="small-3 large-3 columns key" >Visa</div>
                <div class="small-7 large-4 columns value" ng-bind-html-unsafe="ventra.fields.visa+'<br/><span class=\'expires\'>'+ventra.fields.expires+'</span> <span class=\'security\'>'+ventra.fields.security+'</span>'">
                </div>
                <div class="small-1 large-2 columns cta secondary  small round">»</div>
              </a>
            </div>
          </a>
        </li>
      
        <li class="row fields" ng-model="ventra.fields">
          <a>
            <div style="background-color:#E6E6E6" class="small-12 large-8 large-centered columns panel radius">
              <a style="color:#343">
                <div class="small-3 large-3 columns key" >Mo. Charge</div>
                <div class="small-7 large-4 columns value" ng-bind="ventra.fields.monthly|number:0 |currency">
                </div>
                <div class="small-1 large-2 columns cta secondary  small round">»</div>
              </a>
            </div>
          </a>

      </li>
      
      <li class="row lottery"  ng-repeat="lottery in ventra.lottery">
          <a>
            <div style="background-color:#E6E6E6" class="small-12 large-8 large-centered columns panel radius">
              <a style="color:#343">
                <div class="small-3 large-5 columns key">Lottery Number</div>
                <div class="small-7 large-3 columns value">
                  {{lottery.number||lottery.play}} / {{lottery.fun | titleCase}}
              </div>
  
              <div class="small-1 large-1 columns cta secondary center small round">»</div>
              </a>
            </div>
          </a>
        </li>
      <li class="row lottery ctaRow">
          <a>
            <div style="background-color:PapayaWhip " class="small-12 large-8 large-centered columns panel radius">
              <a href="/welcome" style="color:#343">
                <div class="small-7 large-7 columns key">{{strings.title}}</div>
                <div class="small-5 right columns cta"><a href="/welcome" style="background-color:#FAB815;border:none;color:#000;" class="button secondary expand radius">Play</a></div>
              </a>
            </div>
          </a>
        </li>
    </ul>
  </div>
  </div>
  <div id="login" class="reveal-modal" ng-model="login" ng-init="login.loginInit()">
    <div class="row">
      <div class="small-12 small-centered columns"> 
        <div class="logoWrapper center">
          <img ng-src="/images/{{login.headerImage || 'placeholder.gif'}}" alt="{{login.header}}">
        </div>
        <h1>{{login.header}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns"> 
            <ul>
              <form ng-submit="submitLogin()" ng-model="input">
              <li ng-repeat="input in login.inputs" class="row">
                <label class="small-4 columns radius" for="input{{input.name}}" ng-bind="input.name"></label>
                <input class="small-8 columns radius" id="input{{input.name}}" type="{{input.type}}" placeholder="{{input.name}}" ng-model="input.value"></input>
              </li>
              <li class="row">
                <div class="radius small-1 small-offset-8 columns">
                  <button type="submit" class="button radius" ng-click="loginInfo()">Login</button>
                </div>
              </li>
              </form>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="small-12 small-centered columns"> 
          <div class="button expand radius" ng-click="closeModal()" ng-model="login.skip">
            <span ng-repeat="line in login.skip.lines"><span ng-bind-html-unsafe="line+'<br/>'"></span>
          </div>
          <footer class="footer">{{login.footer}}</footer>
        </div>
      </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>