<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Change 4 Charity - CTA</title>
  <link rel="stylesheet" media="screen, projector, print" href="stylesheets/app.css" />
  <script src="javascripts/vendor/custom.modernizr.js"></script>
  <!-- <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" /> -->
  <script src="javascripts/vendor/angular/angular.js"></script>
  <script src="javascripts/vendor/angular/angular-resource.js" type="text/javascript" charset="utf-8"></script>
  
</head>
<body ng-app="change4Charity" ng-controller="MainController">
  <div id="instructionsModal" class="reveal-modal">
    <h4>Welcome to</h4>
    <h2><img src="images/bwLogo.png" width="49" height="56" alt="BwLogo">
    <p class="lead">Change 4 Charity.</p></h2>
    <ol>
      <li>Scan your CTA card</li>
      <li>Choose your favorite charity</li>
      <li>Donate a partial or full amount from your card</li>
    </ol>
    <p>Feel great, no more wasted money on left-over cards!</p>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <div class="sticky contain-to-grid" >
      <nav class="top-bar" data-options="is_hover:false">
        <ul class="title-area">
          <a href="#">
            <li class="name">
            </li>
          </a>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li class="divider"></li>
            <li class="has-form search">
              <form ng-controller="fareCardController" ng-submit="findCard()">
                <div class="row">
                  <div class="smallButton">                                                                                          
                      <input accept="image/*" type="file" file-change="setFile" multiple class="button" id="camera" capture="camera">                      
                  </div>
                  <div class="smallInput">
                    <input type="text" placeholder="Find Card By Number/Search Site" ng-model="card.number">
                  </div>
                  <div class="smallButton" >
                    <a href="#" class="button" ng-click="findCard()">Go
                    </a>
                  </div>
                </div>
                <div id="resultsModal" class="reveal-modal" class="results" ng-cloak ng-show="showCardResults">
                  <h4>Search Results</h4>
                  <ol>
                    <li>{{fareCard.typeID}}</li>
                    <li>{{fareCard.type}}</li>
                    <li>{{fareCard.value|currency}}</li>
                    <li>{{card.number}}</li>
                  </ol>
                  <a class="close-reveal-modal">&#215;</a>
                </div>

              </form>
            </li>
          </ul>
        </section>
      </nav>
  </div>
  <div id="wrapper">
    <div id="content">
      <div id="charities" ng-controller="CharitiesController" class="row" ng-show="showCharities" ng-cloak>
        <div id="selectedCharity"  ng-animate="{enter: 'view-enter', leave: 'view-leave'}" class="row" ng-cloak ng-show="showSelectedCharity" ng-model="selectedCharity">
          <ul class="inline-list" back-img="/images/charityLogo/{{selectedCharity.logo}}">
            <li>You've Selected:</li>
            <li class="title">  
              {{ selectedCharity.name }}
            </li>
            <li class="description"> 
              {{ selectedCharity.shortDescription }}
            </li>
          </ul>
        </div>
        <div class="columns small-11 small-centered large-12 large-centered">
          <h3>Charities</h3>
            <ul id="charityCards" class="card">
              <li class="charity" ng-animate="{enter: 'view-enter', leave: 'view-leave'}"
                                            ng-cloak ng-repeat="charity in charities|filter:search" >
                <div class="flip-container" ng-cloak ng-class="{'flip' : isShowingCharityInfo(charity)}" ng-click="showCharityInfo(charity)">
                  <div class="flipper">
                    <div class="panel radius front" ng-cloak>
                      <span class="stripe"></span>
                      <div class="charityLogo" back-img="/images/charityLogo/{{charity.logo}}">&nbsp;</div>
                    </div>
                    <ul class="pricing-table radius back" ng-cloak back-img="/images/charityLogo/{{charity.logo}}">
                      <li class="title">{{ charity.name }}</li>
                      <li class="description">
                        <p>{{ charity.shortDescription }}</p>
                      </li>
                      <li class="donateMoreInfo">
                        <ul class="button-group round">
                          <li>
                            <a class="small button" href="#" ng-click="donate(charity)">Donate Now</a>
                          </li>
                          <li>                                  
                            <a class="small button" ng-href="{{ charity.link }}" title="More about {{ charity.name}}">?</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="example-date">
    <span class="day">31</span> 
    <span class="month">July</span> 
    <span class="year">2009</span>
  </div>
  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  <script src="javascripts/vendor/ICanHaz.min.js"></script>

  <script src="javascripts/foundation/foundation.js"></script>
	<script src="javascripts/foundation/foundation.alerts.js"></script>
	<script src="javascripts/foundation/foundation.clearing.js"></script>
	<script src="javascripts/foundation/foundation.cookie.js"></script>
	<script src="javascripts/foundation/foundation.dropdown.js"></script>
	<script src="javascripts/foundation/foundation.forms.js"></script>
	<script src="javascripts/foundation/foundation.joyride.js"></script>
	<script src="javascripts/foundation/foundation.magellan.js"></script>
	<script src="javascripts/foundation/foundation.orbit.js"></script>
	<script src="javascripts/foundation/foundation.placeholder.js"></script>
	<script src="javascripts/foundation/foundation.reveal.js"></script>
	<script src="javascripts/foundation/foundation.section.js"></script>
	<script src="javascripts/foundation/foundation.tooltips.js"></script>
	<script src="javascripts/foundation/foundation.topbar.js"></script>
	<script src="javascripts/services.js"></script>
	<script src="javascripts/directives.js"></script>
	<script src="javascripts/change4Charity.js"></script>

</body>
</html>
