/* line 13, ../sass/coinAnim.scss */
html, body { overflow-x: hidden; }

/* line 16, ../sass/coinAnim.scss */
.footer { color: Khaki; position: fixed; bottom: 10%; left: 0; width: 100%; z-index: 10000; }

/* line 26, ../sass/coinAnim.scss */
.container { overflow: hidden; height: 100%; width: 80%; margin: 0 auto 5%; background-color: #FAAD39; }
/* line 32, ../sass/coinAnim.scss */
.container .card { background-color: #B6B6B6; -webkit-animation-name: insertCard; -webkit-animation-duration: 7s; -webkit-animation-iteration-count: 1; -webkit-animation-direction: forwards; -webkit-animation-delay: 0; -webkit-animation-play-state: running; -webkit-animation-fill-mode: forwards; -webkit-animation-timing-function: ease-out; z-index: 100; border-radius: 20px; padding: 15px; top: -1000%; position: relative; width: 200px; height: 300px; margin: 5% auto; }
/* line 53, ../sass/coinAnim.scss */
.container .slotContainer { width: 100%; height: 5%; bottom: 400px; left: 0px; }
/* line 62, ../sass/coinAnim.scss */
.container .slot { position: relative; top: 0; width: 250px; height: 50px; margin: -10px auto 0 auto; background-color: #999; z-index: 10; }
/* line 72, ../sass/coinAnim.scss */
.container .slotMask { border-top: 3px solid #400; z-index: 1000; position: relative; top: -25px; width: 230px; height: 20px; margin: 0 auto -25px auto; background-color: #999; }
/* line 83, ../sass/coinAnim.scss */
.container .mask { width: 100%; height: 100%; position: relative; bottom: 0px; left: 0px; z-index: 1000; background-color: #FAAD39; }
/* line 91, ../sass/coinAnim.scss */
.container .mask .coins { -webkit-perspective: 500; -moz-perspective: 500; -ms-perspective: 500; -o-perspective: 500; perspective: 500; overflow: hidden; position: relative; top: 0; left: 0; height: 60%; width: 300px; margin: -25px auto; }
/* line 101, ../sass/coinAnim.scss */
.container .mask .coins .coin { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; z-index: 10; position: relative; display: inline-block; height: 30px; width: 30px; bottom: -20%; opacity: 0; margin: -25px auto; -webkit-animation-iteration-count: 1; -webkit-animation-direction: forwards; -webkit-animation-play-state: running; -webkit-animation-fill-mode: none; -webkit-animation-timing-function: linear; -webkit-animation-duration: 2.5s; }
/* line 118, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+0) { left: 5%; -webkit-animation-name: flipCoin1; -webkit-animation-delay: 3s; }
/* line 124, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+1) { left: 7%; -webkit-animation-name: flipCoin2; -webkit-animation-delay: 2.8s; }
/* line 130, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+2) { left: 12%; -webkit-animation-name: flipCoin3; -webkit-animation-delay: 4.2s; }
/* line 135, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+3) { left: 0%; -webkit-animation-name: flipCoin4; -webkit-animation-delay: 5s; }
/* line 140, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+4) { left: 12%; -webkit-animation-name: flipCoin5; -webkit-animation-delay: 4s; }
/* line 146, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+5) { left: 13%; -webkit-animation-name: flipCoin6; -webkit-animation-delay: 3.8s; }
/* line 152, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+6) { left: 14%; -webkit-animation-name: flipCoin7; -webkit-animation-delay: 4.8s; }
/* line 158, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+7) { left: 5%; -webkit-animation-name: flipCoin15; -webkit-animation-delay: 3.3s; }
/* line 164, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+8) { left: 7%; -webkit-animation-name: flipCoin8; -webkit-animation-delay: 3.6s; }
/* line 170, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+9) { left: 12%; -webkit-animation-name: flipCoin9; -webkit-animation-delay: 5.2s; }
/* line 175, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+10) { left: 0%; -webkit-animation-name: flipCoin10; -webkit-animation-delay: 3.4s; }
/* line 180, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+11) { left: 12%; -webkit-animation-name: flipCoin11; -webkit-animation-delay: 3.7s; }
/* line 186, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+12) { left: 13%; -webkit-animation-name: flipCoin12; -webkit-animation-delay: 3.4s; }
/* line 192, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+13) { left: 14%; -webkit-animation-name: flipCoin13; -webkit-animation-delay: 3.8s; }
/* line 197, ../sass/coinAnim.scss */
.container .mask .coins .coin:nth-of-type(1n+14) { left: 14%; -webkit-animation-name: flipCoin14; -webkit-animation-delay: 3.8s; }
/* line 202, ../sass/coinAnim.scss */
.container .mask .coins .coin .front { font-size: 28px; color: #FF8000; text-align: center; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; display: block; position: absolute; top: 0; left: 0; height: 30px; width: 30px; background-color: #FC6; border-radius: 30px; border: 3px dotted PapayaWhip; -webkit-transform: translateZ(-5px); -moz-transform: translateZ(-5px); -ms-transform: translateZ(-5px); -o-transform: translateZ(-5px); transform: translateZ(-5px); }
/* line 221, ../sass/coinAnim.scss */
.container .mask .coins .coin .back { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: rotateY(-180deg); -moz-transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); transform: rotateY(-180deg); -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; display: block; position: absolute; top: 0; left: 0; height: 30px; width: 30px; background-color: #FC6; border-radius: 30px; border: 3px dotted PapayaWhip; }

@-webkit-keyframes insertCard { /* line 243, ../sass/coinAnim.scss */
  0% { top: -100%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 248, ../sass/coinAnim.scss */
  100% { top: 100%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); } }

@-webkit-keyframes flipCoin1 { /* line 257, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 262, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 265, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(180deg) rotateX(180deg); -moz-transform: rotateY(180deg) rotateX(180deg); -ms-transform: rotateY(180deg) rotateX(180deg); -o-transform: rotateY(180deg) rotateX(180deg); transform: rotateY(180deg) rotateX(180deg); } }

@-webkit-keyframes flipCoin2 { /* line 273, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 277, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 280, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(360deg) rotateX(-180deg); -moz-transform: rotateY(360deg) rotateX(-180deg); -ms-transform: rotateY(360deg) rotateX(-180deg); -o-transform: rotateY(360deg) rotateX(-180deg); transform: rotateY(360deg) rotateX(-180deg); } }

@-webkit-keyframes flipCoin3 { /* line 288, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 292, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 295, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(-180deg) rotateX(180deg); -moz-transform: rotateY(-180deg) rotateX(180deg); -ms-transform: rotateY(-180deg) rotateX(180deg); -o-transform: rotateY(-180deg) rotateX(180deg); transform: rotateY(-180deg) rotateX(180deg); } }

@-webkit-keyframes flipCoin4 { /* line 303, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 308, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 311, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(180deg) rotateX(180deg); -moz-transform: rotateY(180deg) rotateX(180deg); -ms-transform: rotateY(180deg) rotateX(180deg); -o-transform: rotateY(180deg) rotateX(180deg); transform: rotateY(180deg) rotateX(180deg); } }

@-webkit-keyframes flipCoin5 { /* line 319, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 324, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 327, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(-360deg) rotateX(360deg); -moz-transform: rotateY(-360deg) rotateX(360deg); -ms-transform: rotateY(-360deg) rotateX(360deg); -o-transform: rotateY(-360deg) rotateX(360deg); transform: rotateY(-360deg) rotateX(360deg); } }

@-webkit-keyframes flipCoin6 { /* line 335, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 340, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 343, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(180deg) rotateX(-180deg); -moz-transform: rotateY(180deg) rotateX(-180deg); -ms-transform: rotateY(180deg) rotateX(-180deg); -o-transform: rotateY(180deg) rotateX(-180deg); transform: rotateY(180deg) rotateX(-180deg); } }

@-webkit-keyframes flipCoin7 { /* line 351, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 0px; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 355, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 359, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(180deg) rotateX(180deg); -moz-transform: rotateY(180deg) rotateX(180deg); -ms-transform: rotateY(180deg) rotateX(180deg); -o-transform: rotateY(180deg) rotateX(180deg); transform: rotateY(180deg) rotateX(180deg); } }

@-webkit-keyframes flipCoin8 { /* line 369, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 374, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 377, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(540deg) rotateX(-540deg); -moz-transform: rotateY(540deg) rotateX(-540deg); -ms-transform: rotateY(540deg) rotateX(-540deg); -o-transform: rotateY(540deg) rotateX(-540deg); transform: rotateY(540deg) rotateX(-540deg); } }

@-webkit-keyframes flipCoin9 { /* line 385, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 389, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 392, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(-270deg) rotateX(-270deg); -moz-transform: rotateY(-270deg) rotateX(-270deg); -ms-transform: rotateY(-270deg) rotateX(-270deg); -o-transform: rotateY(-270deg) rotateX(-270deg); transform: rotateY(-270deg) rotateX(-270deg); } }

@-webkit-keyframes flipCoin10 { /* line 400, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 404, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 407, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(-180deg) rotateX(180deg); -moz-transform: rotateY(-180deg) rotateX(180deg); -ms-transform: rotateY(-180deg) rotateX(180deg); -o-transform: rotateY(-180deg) rotateX(180deg); transform: rotateY(-180deg) rotateX(180deg); } }

@-webkit-keyframes flipCoin11 { /* line 415, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 420, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 423, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(280deg) rotateX(-180deg); -moz-transform: rotateY(280deg) rotateX(-180deg); -ms-transform: rotateY(280deg) rotateX(-180deg); -o-transform: rotateY(280deg) rotateX(-180deg); transform: rotateY(280deg) rotateX(-180deg); } }

@-webkit-keyframes flipCoin12 { /* line 431, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 436, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 439, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(-75deg) rotateX(-100deg); -moz-transform: rotateY(-75deg) rotateX(-100deg); -ms-transform: rotateY(-75deg) rotateX(-100deg); -o-transform: rotateY(-75deg) rotateX(-100deg); transform: rotateY(-75deg) rotateX(-100deg); } }

@-webkit-keyframes flipCoin13 { /* line 447, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 15%; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 452, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 455, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(380deg) rotateX(-180deg); -moz-transform: rotateY(380deg) rotateX(-180deg); -ms-transform: rotateY(380deg) rotateX(-180deg); -o-transform: rotateY(380deg) rotateX(-180deg); transform: rotateY(380deg) rotateX(-180deg); } }

@-webkit-keyframes flipCoin14 { /* line 463, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 0px; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 467, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 471, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(90deg) rotateX(-180deg); -moz-transform: rotateY(90deg) rotateX(-180deg); -ms-transform: rotateY(90deg) rotateX(-180deg); -o-transform: rotateY(90deg) rotateX(-180deg); transform: rotateY(90deg) rotateX(-180deg); } }

@-webkit-keyframes flipCoin15 { /* line 479, ../sass/coinAnim.scss */
  0% { opacity: 0; bottom: 0px; -webkit-transform: rotateY(0deg) rotateX(0deg); -moz-transform: rotateY(0deg) rotateX(0deg); -ms-transform: rotateY(0deg) rotateX(0deg); -o-transform: rotateY(0deg) rotateX(0deg); transform: rotateY(0deg) rotateX(0deg); }
  /* line 483, ../sass/coinAnim.scss */
  15% { opacity: 1; }
  /* line 487, ../sass/coinAnim.scss */
  100% { left: 10%; opacity: 1; bottom: -100%; -webkit-transform: rotateY(0deg) rotateX(480deg); -moz-transform: rotateY(0deg) rotateX(480deg); -ms-transform: rotateY(0deg) rotateX(480deg); -o-transform: rotateY(0deg) rotateX(480deg); transform: rotateY(0deg) rotateX(480deg); } }
